{{ define "main" }}
    <main class="main list" id="main">
        <div class="main-inner">
            <div class="content list-coldplay">
                <h1 class="list-title">{{ .Title }} </h1>
                <div class="post-body">
                    <hr class="coldplay" />
					
                        <meting-js auto="https://music.163.com/#/song?id=29095631" list-folded=true></meting-js> 
                    {{ with .Params.banner }}
                        <img src="{{ . }}" alt="{{ path.Base . }}"{{ if $.Site.Params.enableMediumZoom }} data-zoomable{{ end }} style="max-width: 100%;" />
                    {{ end }}
                    <ul class="list-part">
                        {{ range .RegularPages }}
                            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                        {{ end }}
                    </ul>
                    <hr class="coldplay" />
					
                    <div class="coldplay-footer"> updated  {{  "2020-01-05 13:14:20" }} @ <a href="/">回到主页</a></div>
                </div>
            </div>
        </div>
    </main>
	

{{ end }}

